@media(max-width: 768px)

{

    .conteiner
{
    
    width: 100%;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 4fr 4fr 2fr 2fr;
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    "menu main main main"
    "menu banner banner banner"
    "menu extra extra image"
}

    
}