:root 
{

--tetri: rgb(255, 255, 255);
--fonti: 20px;
--Savi:rgb(0, 0, 0); 
}

.conteiner
{
    max-width: 1280px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 6fr 2fr 2fr 2fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main .  image"
    "main main . extra"
    "banner banner banner banner";
}

.HEADER {
    background-color: rgb(3, 3, 49);
    grid-area: header;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* ამ დივის flax გადაქცევის გარდა, ტექსტის გაცენტვრის სხვა ვარიანტი არ არის ჰო?
    გრიდადაც რომ არ გადავაქციო ისე */

    
    /* სიმაღლე მივანიჭე მხოლოდ HEADER დივს. დანარჩენების სიმაღლეს
    ამ სიმაღლის პროპორციულად იღებს რადგან fr მაქვს განაწილებული.
    შეცდომა ხომ არაა? */
    
    

}

.MENU {

    background-color: rgb(207, 52, 52);
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HERO 
{
    background-color: rgb(53, 97, 240);
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MAIN
{
    background-color: rgb(54, 44, 143);
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IMAGE
{
    background-color: rgb(87, 207, 228);  
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EXTRA
{
    background-color: rgb(50, 211, 71);  
    grid-area: extra;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BANNER
{
    background-color: rgb(216, 216, 22);
    grid-area: banner;
    display: flex;
    align-items: center;
    justify-content: center;

}

p{

    color: var(--tetri);
    font-size: var(--fonti);

}

.difertxt
{

    color: var(--Savi);
}
